/* CSS files add styling rules to your content */

body {
  font-family: "Hanalei"
  margin: 2em;
  color: white
}


h1 {
  background: -webkit-linear-gradient(#C029F0, #E7C8DD);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Helvetica Neue', sans-serif; font-size: 75px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center;
}

h1:hover {
  /* Toggle our animation play state to running when we are hovering over our sticker */
  transition: width 2s, height 4s;
}


p {
  color: white;
  font-family: 'Helvetica Neue', sans-serif; font-size: 30px; line-height: 24px; margin: 0 0 24px; text-align: center; text-justify: inter-word;
}

li {
  color: white;
  font-family: 'Helvetica Neue', sans-serif; font-size: 30px; line-height: 24px; margin: 0 0 24px; text-align: center; text-justify: inter-word;
}

a {
  color: lightblue;
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  animation-duration: 0.75s;
  animation-name: bounceIn;
}


.bubble {
  margin-top: 50px;
  margin-left: 250px;
  margin-right: 250px;
  opacity: 0.8;
  filter: alpha(opacity=30)
}

p.bubble {
  opacity: 1;
}

.image {
     display: inline;
     padding: 10px;
}